:root {
    --main-font: "Manrope", sans-serif;
    --main-font-color: #878680;
}




* {
    box-sizing: border-box;
}

body {
  margin: 0;
}


a {
  text-decoration: none;
}

.dropdown-item:active {
    background-color: #4BAF47;
}

.ul-menu li a {
    color: #878680;
}

.info-section {
    background-color: #4BAF47;
}
.info-section a {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    transition: linear .1s;

}
.info-section a:hover {
    color: #000;
    transition: linear .05s;
}

.info-icon a {
    font-size: 13px;
    transition: linear .15s;
}
.info-icon a:hover {
    color: #000;
    transition: linear .05s;
}
.drobtn{
    background-color: #fff;
    border: 0;
    color: var(--main-font-color);
    font-weight: 600;
    line-height: 36px;
    padding: 1px 5px;
}
.drpdwn{
    font-family: var(--main-font);
}
.bordr{
    border-left: solid 1px rgba(184, 184, 184, 0.398);
    height: 28px;
    display: flex;
}
.srch-btn ,.cart{
    background-color: #fff;
    border: 0px;
    transition: .01s linear;
}
.srch-btn:hover,.cart:hover {
    scale: 1.1;
    transition: .01s linear;
}
.cartnum{
    position: absolute;
    right: 6px;
    top: 4px;
    width: 15px;
    height: 16px;
    border-radius: 10px;
    background-color: #4BAF47;
    color: #fff;
    font-size: .65rem;
}
.hide {
    display: none;
}
.show {
    display: block;
}
@media (min-width:991.98px) {
    .togler-btn{
        display: none;
    }
}
@media (max-width:991.98px){
    .drpdwn,.search {
        display: none;
    }
}




@media (min-width:768px) {

    .info-icon{
        max-width: 50%; 
}
}
@media (min-width:992px) {

    .info-icon{
        max-width: 34%; 
}
}
@media (min-width:1200px) {

    .info-icon{
        max-width: 25%; 
        margin-inline-end: 18px; 

}
}
@media (min-width:1400px) {

    .info-icon{
        max-width: 20%;
        margin-inline-end: 30px; 
}
}

